@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Lora:700');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Courgette');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
}

h1 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 3em;
    text-align: center;
    padding-top: 0.5em;
}

h2 {
    font-family: Lora, sans-serif;
}

header {
    width: 100%;
    background-color: #354881;
    color: #333;
    font-family: sans-serif;
    height: 3.6em;
    position: fixed;
    top: 0;
    z-index: 10;
}

#logo {
    height: 3.6em;
    position: fixed;
    top: 0;
    background: rgba(255, 255, 255, 0.26);
    border-radius: 12px;
    left: 20px;
}

#logo:hover {
    background: rgba(255, 255, 255, 0.45);
}

#texte {
    float: left;
    width: 40%;
    margin-left: 2em;
    line-height: 1.15em;
    font-size: 1.1em;
    font-family: sans-serif;
}

nav ul {
    position: fixed;
    top: 0;
    list-style-type: none;
    font-size: 1.5em;
    width: 95%;
    margin-left: 5%;
    z-index: 10;
}

nav ul li {
    float: left;
    z-index: 10;
}

nav ul li a, .dropbtn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    color: white;
    width: auto;
    z-index: 10;
}

.dropdown {
    padding-bottom: 14px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    margin-left: 40px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    background: #354881;
    z-index: 10;
}

.dropdown_content {
    position: absolute;
    display: none;
    text-align: center;
    z-index: 100;
    background-color: #354881;
    margin-left: -16px;
    margin-top: 14px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 12px;
}

.dropdown_content a {
    padding: 12px 16px;
    display: block;
    background: linear-gradient(#354881, #5e6ead);
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    z-index: 10;
}

.dropdown:hover .dropdown_content {
    display: block;
    z-index: 10;
}

.dropdown:hover{
    background: linear-gradient(#5e6ead, #354881);
}

.dropdown_content a:hover, .faecher:hover{
    background: linear-gradient(#7387d6, #4d69bc);
}

.dropdown_content:hover {
    background: linear-gradient(#6071b3, #3a4f8d);
}

.active {
    background: linear-gradient(#5e6ead, #354881);
}

main {
    margin-bottom: 10em;
    margin-top: 3em;
}

#information {
    margin-bottom: 2em;
    float: left;
}

#stundenplan {
    margin: 2em;
    text-align: center;
}

#stundenplan table {
    background: white;
    width: 100%;
    margin-top: 1em;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5em;
    border-collapse: collapse;
    text-align: center;
}

#stundenplan td, #stundenplan th {
    border: 1px solid #ddd;
    padding: 8px;
}

#stundenplan td p {
    font-size: 0.8em;
}

#stundenplan tr:nth-child(even){background-color: #f2f2f2;}

#stundenplan tr:hover {background-color: #ddd;}

.popup {
    display: none;
}

td:hover .popup {
    position: absolute;
    border: 1px solid black;
    background: white;
    padding: 0.5em;
    display: block;
}

#zusatzinfos {
    line-height: 3em;
    font-family: sans-serif;
    font-size: 1.2em;
    text-align: center;
}

#attention {
    background: #354881;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-top: 2px inset black;
    border-radius: 12px;
}

footer {
    position: fixed;
    background: linear-gradient(#fff, #ddd);
    bottom: 0;
    width: 100%;
    text-align: center;
    line-height: 1.8em;
    border-top: 1px solid black;
}

footer a {
    font-family: sans-serif;
    color: #444;
    text-decoration: none;
}