@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Lora:700');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
}

h1 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 3em;
    text-align: center;
    padding-top: 0.5em;
}

h2 {
    font-family: Lora, sans-serif;
}

header {
    width: 100%;
    background-color: #354881;
    color: #333;
    font-family: sans-serif;
    position: relative;
    height: 4em;
}

#logo {
    height: 50px;
    position: absolute;
    top: 7px;
    left: 30px;
}

nav ul {
    list-style-type: none;
    font-size: 2em;
    width: 100%;
    margin-left: 5%;
}

nav ul li {
    float: left;
}

nav ul li a, .dropbtn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    color: white;
    width: auto;
}

.dropdown {
    padding: 13px 16px;
    padding-bottom: 14px;
    margin-left: 40px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.dropdown_content {
    position: absolute;
    display: none;
    text-align: center;
    z-index: 1;
    background-color: #354881;
    margin-left: -16px;
    margin-top: 14px;
}

.dropdown_content a {
    padding: 12px 16px;
    display: block;
    background: linear-gradient(#354881, #5e6ead);
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.dropdown_content {
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 12px;
}

.dropdown:hover .dropdown_content {
    display: block;
}

.dropdown:hover, .active{
    background: linear-gradient(#5e6ead, #354881);
}

.dropdown_content a:hover{
    background: linear-gradient(#7387d6, #4d69bc);
}

.dropdown_content:hover {
    background: linear-gradient(#6071b3, #3a4f8d);
}

main {
    margin-bottom: 10em;
}

#stundenplan {
    margin: 2em;
    text-align: center;
}

#stundenplan table {
    background: white;
    width: 100%;
    margin-top: 1em;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5em;
    border-collapse: collapse;
    text-align: center;
}

#stundenplan td, #stundenplan th {
    border: 1px solid #ddd;
    padding: 8px;
}

#stundenplan td p {
    font-size: 0.8em;
}

#stundenplan tr:nth-child(even){background-color: #f2f2f2;}

#stundenplan tr:hover {background-color: #ddd;}

.popup {
    display: none;
}

td:hover .popup {
    position: absolute;
    border: 1px solid black;
    background: white;
    padding: 0.5em;
    display: block;
}

#zusatzinfos {
    line-height: 3em;
    font-family: sans-serif;
    font-size: 1.2em;
    text-align: center;
}

footer {
    position: fixed;
    background: linear-gradient(#fff, #ddd);
    bottom: 0;
    width: 100%;
    text-align: center;
    line-height: 2.5em;
    border-top: 1px dashed black;
}

footer a {
    font-family: sans-serif;
    color: #444;
    text-decoration: none;
}